{% extends 'base.html' %}
{% block content%}
{% csrf_token %}
    <center>

    <div id="login" class="blocks">
        <b id="login_message"></b>
        <div>
            <label for="username"><b>* Username</b></label><br>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div>
            <label for="password"><b>* Password</b></label><br>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="buttons">
            <button class="btn btn-outline-secondary" id="login_button" onclick="sign_in()">Login</button>
            <button class="btn btn-outline-secondary" onclick="toggle('#sign_up')">Create an Account</button>
        </div>
            
    </div>

    <div id="sign_up" class="blocks">
        <b id="sign_up_message"></b>
        <div>
            <label for="username"><b>* Username</b></label><br>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div>
            <label for="email"><b>* Email</b></label><br>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div>
            <label for="password"><b>* Password</b></h1</label><br>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div>
            <label for="confirm_password"><b>* Confirm Password</b></label><br>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
        </div>
        
        <div class="buttons">
            <button class="btn btn-outline-secondary" id="sign_up_button" onclick="sign_up()">Sign Up</button>
            <button class="btn btn-outline-secondary" onclick="toggle('#login')">Have an account?, Login</button>
        </div>
    </div>

    <div id="verify_otp" class="blocks">
        <b id="verify_otp_message"></b>
        <div>
            <label for="first_name"><b>* First Name</b></label><br>
            <input type="text" name="first_name" id="first_name" placeholder="First Name">
        </div>
        <div>
            <label for="last_name"><b>* Last Name</b></label><br>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name">
        </div>
        <div>
            <label for="otp"><b>* OTP</b></label><br>
            <input type="text" name="otp" id="otp" placeholder="OTP">
        </div>
        <div class="buttons">
            <button id="verify_otp_button" onclick="verify_otp()">Verify OTP</button>
        </div>
    </div>
</center>
{%endblock content%}