{% extends 'base.html'%}
{%block content%}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 col-12 col-lg-6">
            <h1 class="text mb-5">
                Save A Life Today Donate Blood At The Nearest Hospital
            </h1>
            <div class="row align-items-center g-3">
                <div class="col-auto">
                    <label class="visually-hidden" for="inputEmail">email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="col-auto">
                    <a href="" class="btn btn-secondary">Become a Donor</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-6 col-12-col-lg-6">
            <image src="images/home_image.jpg" alt="image">
        </div>
    </div>
</div>

{%endblock%}